.header{
    background: #000000;
    width: 100%;
    height: 100px;
}
body{
    margin: 0;
}
.header1{

    width: 50%;
    height: 50px;
    float: left;
    padding-top: 15px;
}
.header2{

    width: 20%;
    height: 50px;
    float: left;
    padding-top: 15px;
}
.header3{

    width: 30%;
    height: 50px;
    float: left;
    padding-top: 15px;
}
.logo{
    font-size: 25px;
    font-family:  UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    margin-left: 70px;
}
.ride{
    color:#fff;
    background-color: black;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
    block-size: 40px;
}
.ride:hover{
    background-color: rgb(45, 35, 35);
}
.drive{
    color:#fff;
    background-color: black;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
    block-size: 40px;
}
.drive:hover{
    background-color: rgb(45, 35, 35);
}
.business{
    color:#fff;
    background-color: black;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
    block-size: 40px;
}
.business:hover{
    background-color: rgb(45, 35, 35);
}
.about{
    color:#fff;
    background-color: black;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
    block-size: 40px;

}
.about:hover{
    background-color: rgb(45, 35, 35);
}
.en{
    color:#fff;
    background-color: black;
    border-radius: 30px;
    border: none;
    margin-left: 50px; 
    block-size: 40px;  
}
.en:hover{
    background-color: rgb(45, 35, 35);
}
.helpe{
    color:#fff;
    background-color: black;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
    block-size: 40px;
}
.helpe:hover{
    background-color:rgb(45, 35, 35) ;
}
.login{
    color:#fff;
    background-color: black;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
    block-size: 40px;
}
.login:hover{
    background-color:rgb(45, 35, 35);
}
.signup{
    
    border-radius: 30px;
    border: none;
    background-color: #fff;
    margin-left: 20px;
    block-size: 40px;
    
}
.signup:hover{
    background-color: silver;
}
.box1{
background-color: black;
width: 100%;
height: 750px;
padding-top: 10px;
}
.box2{
    background-color:#fff;
    width: 100%;
    height: 650px;
}
.box3{
    background-color: #fff;
    width: 100%;
    height: 650px;

}
.box4{
    width: 100%;
    height: 600px;
    background-color: #fff;
}
.box5{
    width: 100%;
    height: 300px;
    background-color: rgb(247, 244, 241);
    padding-top: 10px;
}
.box6{
    width: 100%;
    height: 1000px;
    background-color: #000000;
}
.part1{
    width: 50%;
    float: left;


}
.part2{
    width: 50%;
    float: left;
    

}
.mainheading{
    color: #fff;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 52px;
    font-weight: 700;
    margin-left: 60px;
    margin-top: 150px;
}
.mh1{
    color: #fff;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 52px;
    font-weight: 700;
    margin-left: 60px;
}
.img{
    width: 90%;
    height: 70%;
}
#sheading{
    color: #fff;
    font-family:UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-left:60px ;
    

}
.locationdiv{
    width:10cm;
    height: 1.3cm;
    background-color: #fff;
    margin-left: 60px;
    border-radius: 8px;

}
.destinationdiv{
    width:10cm;
    height: 1.3cm;
    background-color:#fff;
    margin-top: .3cm;
    margin-left: 60px;
    border-radius: 8px;

}
.location{
    width: 7cm;
    block-size: 43px;
    margin-left: 1cm;
    border: none;
}
.destination{
    width: 7cm;
    block-size: 43px;
    margin-left: 1.8cm;
    border: none;

    

}
.price{
    margin-left: 60px;
    margin-top: 30px;
    block-size:50px ;
    border-radius: 10px;
    width: 130px;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    border: none;
}
.b2part1{
    width: 50%;
    float: left;

}
.b2part2{
   width: 50%; 
   float: left;
}
.img2{
    width: 90%;
    margin-left: 60px;
    margin-top: 60px;
}
.b2heading{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 52px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: 150px;


    
}
.b2para{
    font-family:UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 18px;
    font-weight: normal;
    margin-left: 100px;
    line-height: 24px;
}
.getstarted{
    width: 130px;
    margin-left: 100px;
    block-size: 50px;
    border-radius: 10px;
    font-family:  UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #000000;
    float: left;
}
.getstarted:hover{
    background-color: rgb(48, 53, 58);
}

.b2link{
    color: #000000;
    margin-left: 30px;
    float: left;
    text-decoration: underline;

    
}
.b3part1{
    width: 50%;
    float: left;
}
.b3part2{
    width: 50%;
    float: left;
}
.b3heading{
    font-size: 52px;
    font-weight: 700;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 60px;
    margin-top: 100px;

}
.b3para{
    font-size: 16px;
    font-family:UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 60px;
}
.b3img{
    width: 90%;
    margin-left: 20px;
}
.b3getstarted{
    width: 130px;
    margin-left: 60px;
    margin-top: 20px;
    block-size: 50px;
    border-radius: 10px;
    font-family:  UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #000000;
    float: left;   
}
.b3getstarted:hover{
    background-color: rgb(48, 53, 58);
}
.b3link{
    color: #000000;
    text-decoration:underline;
    margin-left: 40px;
    margin-top:100px;
}
.b4part1{
    width: 50%;
    float: left;
}
.b4part2{
    width: 50%;
    float: left;
}
.b4img{
    width: 90%;
    margin-left: 60px;
}
.b4heading{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        margin-left: 100px;
        margin-top: 100px;
}
.b4para{
    margin-left: 100px;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.b5heading{
font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 36px;
        line-height: 44px;
        margin-left: 60px;
        
}
.b5part1{
   
    height: 5cm; margin-left: 60px;
    background-color: #fff;
    width: 12.5cm;
    float: left;

}  
.b5part2{
    height: 5cm; margin-left: 60px;
    background-color: #fff;
    width: 12.5cm;
    float: left;
} 
.b5img1{
    width: 3.5cm;
    margin-left: .7cm;
    margin-top:.7cm;
    float: left;
} 
.b5img2{
    width: 3.5cm;
    margin-left: .7cm;
    margin-top:.7cm;
    float: left;
} 
.firstbox1{
    width: 4.9cm;
    float: left;

}
.firstbox2{
    width: 7.1cm;
    float: left;

}
.secondbox1{
    width: 4.9cm;
    float: left;

}
.secondbox2{
    width: 7.1cm;
    float: left;

}
.b5p1h{
    font-size: 24px;
    font-family:UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top:1.8cm;
    line-height: 0%;


}
.scan{
    font-family:UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.b5p2h{
    font-size: 24px;
    font-family:UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top:1.8cm;
    line-height: 0%;


}
.linkuberapp{
    color: black;
}
.b6part1{
    width: 100%;
    height: 4.5cm;
    background-color:#000000;

}
.b6part2{
    width: 100%;
    height: 2cm;
    background-color: #000000;
    padding-top: .5cm;

}
.b6part3{
    width: 100%;
    background-color:#000000;
    height: 10cm;
}
.b6part4{
    width:100% ;
    background-color: rgba(0, 4, 4, 0);
    height: 2cm;

}
.b6part5{
    width: 100%;
    height: 3.5cm;


}

.b6uberlogo{
   margin-top: 2cm;
   margin-left:60px;
}
.helpcenter{
    text-decoration: none;
    color: #fff;
    font-family:UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 60px;
    margin-top: .5cm;

}
.boxes{
    width: 25%;
    float: left;
}
.boxesheadings{
    margin-left: 60px;
    color: #FFFFFF;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;

}
.boxcombonents{
    color: #fff;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: 60px;
    text-decoration: none;
    

}
.apps{
    margin-left: 60px;
    height: 2cm;
    float: left;
}
.english{
    color:#fff;
    float: left;
    margin-left:1cm ;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #000000;
    border: none;
    block-size: 40px;
    border-radius: 8px;
}
.english:hover{
    background-color: #4a4646;
}
.san{
   color: #fff; 
   float: left;
   margin-left: 1cm;
   font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
   border-radius: 8px;
   border: none;block-size: 40px;
   background-color: #000000;

}
.san:hover{
    background-color: #4a4646;
}
.mainbox{
    width: 50%;
    height: 2cm;
    float: left;
    background-color:#000000;
}
.spacebox{
    width: 20%;
    height: 2cm;
    float: left;
    background-color:#000000; 
}
.textbox{
width: 30%;    
height:2cm ;
float: left;
background-color:#000000;
padding-top: .5cm;

}
.googleplay{
    margin-left: 60px;
    width:4cm;
}
.appstore{
    width: 4cm;
}
.price:hover{
    background-color:silver;
}
.appbutton{
    margin-left: 60px;
    background-color: #000000;
    color:#fff;
    border: none;
    border-radius: 8px;
    block-size: 30px;
    width: 1cm;
    height: 1cm;
    font-size: 15px;
    margin-top: .5cm;

}
.appbutton:hover{
    background-color: #4a4646;
}
.lastline{
    font-size: 13px;
    color: #AFAFAF;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 60px;
    float: left;
}
.lastlink{
    color: #AFAFAF;
    text-decoration: none;
    font-family:UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size:13px ;
    margin-left: .5cm;
}
.lastlink:hover{
    color: #4a4646;
}